@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(Roboto-Regular/roboto-regular.woff2) format("woff2"),
    url(Roboto-Regular/roboto-regular.woff) format("woff")
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(Roboto-Bold/roboto-bold.woff2) format("woff2"),
    url(Roboto-Bold/roboto-bold.woff) format("woff")
}

