.form__password-container {
  display: flex;
  padding: 0;
  border: none;
  margin: 0;
  justify-content: space-between;
}

@media (max-width: 400px) {
  .form__password-container {
    display: block;
  }
}